<!DOCTYPE html>
<html>
    <head>
        <title>Date Page</title>
    </head>
    <body>
        <h1> The date is current date and time is </h1>
        <p> <%=  Time.now.strftime('%A, %B %e, %Y')   %></p>
    </body>
</html>

